<ion-view>
	<ion-nav-title>
		Game ID {{meter.id}}
		<!-- <img class="title header-image logo" src="img/logo_white.png"> -->
	</ion-nav-title>
	<ion-content class="padding">
		<!-- <ion-refresher
			pulling-text="Dra ned for å oppdatere..."
			on-refresh="getMeter()">
		</ion-refresher> -->

		<h3>Player 1 vs Player 2</h3>
		<div id="board" style="width: 100%"></div>
		<p style="margin-top: 20px; font-weight: bold;">Status: <span id="status"></span></p>
		<p>FEN: <span id="fen"></span></p>
		<p>PGN: <span id="pgn"></span></p>
	</ion-content>
 --></ion-view>
